
.card{
    margin: 0PX;
    padding: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 100px;
}

}
